* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

/* General Elements */

.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-relative {
    position: relative;
}


/* Header */

.header {
    background-color: salmon;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    line-height: 1.5;
    text-transform: uppercase;
}

.logotipo {
    display: block;
    width: 50px; /* Logo is square */
}

.hamburguer-container {
    padding: 1em;
}
.hamburguer-container:hover {
    background-color: green;
}

.hamburguer {
    display: block;
    width: 24px; /* SVG is square */
}

.navigation {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: blueviolet;
    height: calc(100vh - 100%);
}

.navigation-list li {
    border-bottom: 2px solid rgb(0, 0, 0);
}

.navigation-list a{
    color: white;
    font-weight: 700;
    display: block;
    padding: 1em;
    text-decoration: none;
}

.navigation-list {
    list-style: none;
}

.button-contact {
    background-color: green;
    padding: 0.5em 1.5em;
    border-radius: 2em;
    color: white;
    text-decoration: none;
}


/* classes used in JavaScript */

.visible {
    display: block;
}

/* Media queries */
@media (min-width: 720px) {
    .hamburguer-container {
        display: none;
    }

    .navigation {
        display: block;
        position: static;
        background-color: initial;
        font-weight: 400;
        height: auto;
    }

    .navigation-list {
        display: flex;
    }

    .navigation-list li {
        border: none;
    }

    .navigation-list a {
        font-weight: 400;
    }

    .navigation-list a:hover {
        background-color: green;
    }

}